body{
  font-family: "Poppins", sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.max-width{
  max-width: 1280px;
  margin: auto;
}

.font_Lobster {
  font-family: "Lobster", cursive;
}
.font_Neonderthaw {
  font-family: "Neonderthaw", cursive;
}
.font_Poppins {
  font-family: "Poppins", sans-serif;
}

/* start header section */
.btn{
  background-color: #FF5959;
  color: white;
  padding: 15px 40px;
  border-radius: 5px;
  border: none;

  }
  .btn:hover{
    background-color: #c22a5d;
  }
.heder-tx p{
  width: 5px;
  height: 115px;
  background-color:#FF5959 ;
  margin-right: 10px;
  }
  .p-header{
    margin-top: 40px;
  }
  .heder-tx {
    display: flex;
    align-items: center;
  }

  .span-txt{
    color: #FFAD5A;
  }
  .font_Yeseva{
    font-family: "Yeseva One";
    font-size: 60px;
  }
.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header_laft{
  width: 50%;
}
.header_right{
  width: 50%;
  }
  .header_right img{
    width: 70%;
  }
  /* header section end hear */

  /* mission-start */
  .mission-head{
    text-align: center;
    font-size: 50px;
    color: #13103A;
  }
  .main{
margin-top: 40px;
margin-bottom: 40px;
  }
   .mission-wrapper{
        display: flex;
      }

  .mission-card1{
    background-color: #4F9DA61A;
    padding: 40px 20px; 
    width: 33.33%;
    border-radius: 20px;
      }
      .mission-card1>img,
      .mission-card2>img,
      .mission-card3>img{
        width: 100px;
        height: auto;
      }

     
      .mission-card2{
         width: 33.33%;
    background-color: #FF59591A;
   margin-left: 30px;
  margin-right: 30px;
  padding: 40px 20px; 
  border-radius: 20px;
      }
     .dots-groups{
       display: block;
         margin-left: auto;
            }
      .mission-card3{
         width: 33.33%;
    background-color: #FFF4D6;
padding: 40px 20px;
border-radius: 20px;
 }


            /* Mission end */

      /* start develop */

      .develop{
        display: flex;
        align-items: center;
        margin-top: 80px;
        }

        .dev-h1{
          font-size: 40px;
        }
        .develop-laft{
          width: 40%;
        }
      .develop-laft img{
      width: 100%;
      height: auto;

    }
        .develop-right{
          width: 60%;
          margin-left: 50px;
        }

         /* End develop */

         /* start global */

         .global-laft{
          width: 60%;
          margin-right: 30px;
        }

      .global{
        display: flex;
        align-items: center;
        margin-top: 80px;
        }
        .global-h1{
         font-size: 40px;
        }
        .global-right{
          width: 40%;
        }
      .global-right img{
      width: 100%;
      height: auto;

    }


        

         /* End global */

         /* Build Corona Start */

      .corona{
        display: flex;
        align-items: center;
        margin-top: 80px;
        }
        .corona-laft{
          width: 50%;
        }
      .corona-laft img{
      width: 70%;
      height: auto;

    }
        .corona-right{
          width: 50%;
          margin-left: 30px;
        }
        .corona-head{ font-size: 50px;
          text-align: center;
        }
        .corona-h1{
          font-size: 40px;
        }

        /*Build Corona End */
/* footer start */
.footer{
  background-color: rgb(40, 41, 44);
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
}
.txt-footer{

  color: orangered;
}
.footer h1{
  color: white;
  font-family: "Lobster", cursive;
}
.footer p{
  color: rgb(192, 194, 238);
  font-family: "Poppins", sans-serif;
}